// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.lnd-navbar {
    .navbar-header {
        float: none;
        text-align: center;
    }
    li {
     display: inline-block;
     float: none;
    }
}
.lnd-intro {
  background: #f6f2f2;    
}
.lnd-services {
  background: #fff;    
}
.lnd-products {
  background: #fff;    
}
.lnd-team {
  background: #fff;    
}
.lnd-subscribe {
  background: #f5f0dd;    
}

.home-newsletter {
  padding: 80px 0;
  .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
      h2 {
        font-size: 22px;
        color: white;
        margin-bottom: 40px; 
      }
      .form-control {
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
      }
      .form-control:focus {
        box-shadow: none;
        border-color: #243c4f;
      }
      .btn {
        min-height: 50px; 
        background: #ff2d2d;
        color: #fff;
      }

  }
}

.lnd-adress {
  background: #fff;    
}
.lnd-footer {
  background: #313030;    
}