// main color #ff3f40
// secondary color #f6f2f1
// third color #312f30

// Add custom font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

// Imports
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "tabs-decoration";
@import "sub-title";

.body {
  padding: 20px 0 0;
  margin: 0;
}

// .page {
//   position: relative;
//   overflow: hidden;
// }

* {
  box-sizing: border-box;
}

.lnd-header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 9999;
  .lnd-navbar {
    background: #313030;
    border: none;
    height: 90px;
    border-radius: 0;
    text-align: center;
    li {
     display: inline;
     float: none;
      a {
        display: inline-block;
        border-radius: 0;
        font-weight: 700;
        padding: 34.5px;
        color: #e0e0e0;
        &:after{
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          background-color: #ff3f40;
          transition: width .3s ease-in-out;
        }
        &:hover {
          background-color: #313030;
        }
        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }
      &.active a {
        background-color: #ff3f40;
      }
    }
  }
}

.lnd-intro {
  background: #f6f2f2;
  padding-top: 150px;
  h1 {
    line-height: 1.2;
    font-weight: 800;
    font-size: 60pt;
    padding-top: 32px;
  }
  .video-player{
    padding: 62px;
  }
  p {
    line-height: 1.75;
    font-size: 16pt;
  }
}

.btn-custom {
  padding: 11px 62px;
  letter-spacing: 0.5;
  font-size: 18px;
  line-height: 1.88;
}

.lnd-services {
  background: #fff;
  i {
    color: #ff3f40;
  }
  .separator {
    border-bottom: 1px solid #ececec;
  }
}

.lnd-products {
  background: #fff;
  .lnd-sub-title {
    display: block;
    text-align: center;
    margin: 0 auto;
    &:after {
      content: "";
      margin: 0 auto;
    }
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }
  .wrap {
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
  }
  .flex-item {
   background: #f5f0dd;
   width: 291px;
   height: 291px;
   margin: 10px;
  }
}

.lnd-team {
  background: #fff;
}

.lnd-subscribe {
  background: #f5f0dd;
  background-image: url(../images/subscribe_bg.jpg);
  background-size: cover;
  background-position: center center;
}

.home-newsletter {
  padding: 80px 0;
  .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
      h2 {
        font-size: 22px;
        color: white;
        margin-bottom: 40px;
      }
      .form-control {
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
      }
      .form-control:focus {
        box-shadow: none;
        border-color: #243c4f;
      }
      .btn {
        min-height: 50px;
        background: #ff2d2d;
        color: #fff;
      }
  }
}

.lnd-adress {
  background: #fff;
  .row-flex {
    float: none;
    display: flex;
  }
  .red{
    color:#ff3f40;
  }
  .form-custom {
    input, textarea {
      background-color: #e5e5e5;
    }
	}
  .address-block {
    color: #fff;
    background: #2d2d2d;
    height: 480px;
    text-align: center;
    &:after {
      content: "";
      top: 0;
      bottom: 0;
      left: 100%;
      width: 50vw;
      position: absolute;
      background: #2d2d2d;
    }
    h3 {
      margin: 0;
    }
  }
}

.lnd-footer {
  background: #313030;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  margin-top: 104px;
  .social-icon {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      text-align: center;
      a {
        display: block;
        width: 44px;
        height: 44px;
        line-height: 44px;
        border-radius: 50%;
        margin-right: 5px;
        background: rgba(255, 255, 255, 0.85); /* social icon background color */
        color: #000; /* social icon color */
        &:hover {
          background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
          color: #fff; /* social icon hover color */
        }
      }
    }
  }
}
