// main color #ff3f40
// secondary color #f6f2f1
// third color #312f30

// Add custom font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Bungee');

// Imports
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "tabs-decoration";
@import "sub-title";

.body {
  padding: 20px 0 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header.shrink {
  height: 60px;
  line-height: 52px;
  flex: 1 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: #313030;
  z-index: 999;
  .logo {
    line-height: 57px;
  }
  .lnd-navbar > ul > li > a{
    padding: 8px 24px;
  }
}

.lnd-header {
  position: fixed;
  top: 29px;
  left: 0;
  right: 0;
  z-index: 9999;
  text-align: center;
  .logo {
    font-family: 'Bungee', cursive;
    color: #e0e0e0;
    position: absolute;
    left: 0;
    padding: 10px;
    line-height: 77px;
    text-decoration: none;
    padding: 7px 0 0 10px;
    font-size: 60px;
  }
  .lnd-navbar {
    background: #313030;
    border: none;
    min-height: 20px;
    border-radius: 0;
    overflow: hidden;
    ul {
      display: inline-block;
      text-align: center;
      margin: 0 183px;
    }
    li {
     display: inline-block;
     float: none;
      a {
        color: #e0e0e0;
        border-radius: 0;
        font-weight: 700;
        padding: 40px 24px 28px 24px;
        margin-right: 4px;
        &:after {
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          background-color: #ff3f40;
          transition: width .3s ease-in-out;
        }
        &:hover {
          background-color: #313030;
        }
        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }
      &.active a {
        background-color: #ff3f40;
      }
    }
  }
}

.lnd-intro {
  background: #f6f2f2;
  padding-top: 159px;
  padding-bottom: 46px;
  h1 {
    line-height: 1.2;
    font-weight: 800;
    font-size: 60px;
    padding-top: 32px;
    letter-spacing: 1px;
  }
  .video-player{
    padding: 62px 67px;
  }
  p {
    line-height: 1.75;
    font-size: 16px;
    padding-top: 7px;
    margin-bottom: 54px;
  }
}

.btn-custom {
  padding: 11px 64px;
  letter-spacing: 0.5;
  font-size: 18px;
  line-height: 1.88;
}

.lnd-services {
  padding-top: 78px;
  margin-bottom: 71px;
  .service-info-block {
    position: relative;
    h2 {
    font-size: 40px;
    line-height: 1.4;
    padding-top: 3px;
    font-weight: 700;
    letter-spacing: 1.7px;
  }
  p {
    line-height: 1.75;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 41px;
  }
  .btn-custom {
    padding: 10px 60px;
    border: 2px solid;
    &:hover {
      color: #fff;
      background: #ff3f40;
    }
  }
}
  .row-cutom {
    margin-top: 20px;
    padding-left: 4px;
    h3 {
      padding-left: 4px;
    }
    p {
      padding: 4px 6px 37px 4px;
      line-height: 25px;
    }
  }
  background: #fff;
  i {
    color: #ff3f40;
    padding-left: 7px;
    font-size: 57px;
  }
  .separator {
    border-bottom: 1px solid #ececec;
    padding-bottom: 66px;
  }
}

.lnd-products {
  background: #fff;
  .lnd-sub-title {
    display: block;
    text-align: center;
    margin: 0 auto;
    h2 {
      font-size: 40px;
      line-height: 1.4;
      padding-top: 3px;
      font-weight: 700;
      letter-spacing: 1.7px;
    }
    p {
      padding: 11px;
      line-height: 27px;
      font-size: 16px;
      }
    &:after {
      content: "";
      margin: 0 auto;
    }
  }
  .tabbable-line{
    padding-top: 71px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    .nav-tabs {
      a {
        padding: 9px 15px;
        margin-bottom: 25px;
      }
    }
  }
  .flex-container {
    padding: 0;
    margin: 0 -10px;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-item {
    background: #f5f0dd;
    width: calc(25% - 20px);
    height: 291px;
    margin: 10px;
  }
}

.lnd-team {
  padding-top: 70px;
  background: #fff;
  margin-bottom: 110px;
  .lnd-sub-title {
    margin-bottom: 71px;
    h2 {
      font-size: 40px;
      line-height: 1.4;
      font-weight: 700;
      letter-spacing: 1.7px;
    }
    p {
      padding: 11px 11px 45px 11px;
      line-height: 27px;
      font-size: 16px;
    }
  }
  .main-photo {
    background-color: #f5f0dd;
    img {
      width: 100%;
      height: auto;
    }
  }
  .member-info {
    position: relative;
    h3 {
    font-size: 30px;
    font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 1.75;
    }
  }
  .profile-social-block {
    a {
      color: black;
      padding-right: 32px;
      text-decoration: none;
      font-style: italic;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.75;

    }
  }
  .profile-links {
    margin: 0;
    padding: 0;
  }
  .profile-links, .team-photo {
    li {
      list-style: none;
      text-decoration: none;
      display: inline-block;
    }
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-item > img {
      background: #f5f0dd;
      width: 197px;
      height: 214px;
      margin: 10px;


  }
}

.lnd-subscribe {
  background: #f5f0dd;
  background-image: url(../images/subscribe_bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 148px;
  .custom-form {
    text-align: center;
    .form-control {
      width: 521px;
      height: 79px;
      margin: 11px;
      font-size: 16px;
      line-height: 1.8;
    }
    .btn-custom {
      padding: 22px 107px;
      margin: 11px;
    }
  }
  .subscribe-header {
    color: #fff;
    line-height: 1.8;
    text-align: center;
    h2 {
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 2.5px;
    }
    p {
      font-size: 16px;
    }
  }
}

.lnd-adress {
  background: #fff;
  overflow: hidden;
  padding-top: 70px;
  .lnd-sub-title {
    margin-bottom: 77px;
    width: 60%;
    h2 {
      font-size: 40px;
      line-height: 1.4;
      padding-top: 3px;
      font-weight: 700;
      letter-spacing: 1.7px;
    }
    p {
      padding: 25px 11px 42px 11px;
      line-height: 27px;
      font-size: 16px;
    }
  }
  .row-flex {
    float: none;
    display: flex;
  }
  .form-custom {
    .group-name-area > input,
    .group-email-area > input {
      width: 349px;
      height: 69px;
    }
    input, textarea {
      background-color: #e5e5e5;
    }
    textarea {
      resize: none;
      height: 214px;
    }
	}
  .address-col {
    padding-right: 0;
  }
  .address-block {
    padding: 67px 2px 67px 67px;
    color: #fff;
    background: #2d2d2d;
    text-align: left;
    &:after {
      content: "";
      top: 0;
      bottom: 0;
      left: 100%;
      width: 50vw;
      position: absolute;
      background: #2d2d2d;
    }
    h3 {
      margin: 0;
      font-size: 18px;
      line-height: 2;
    }
    address {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

.lnd-footer {
  background: #313030;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  margin-top: 104px;
  .copyrights {
    color: #b8b8b8;
    float: left;
    margin-top: 14px;
  }
  .social-icon {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      text-align: center;
      a {
        display: block;
        width: 44px;
        height: 44px;
        line-height: 44px;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 34px;
        background: rgba(255, 255, 255, 0.85); /* social icon background color */
        color: #000; /* social icon color */
        &:hover {
          background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
          color: #fff; /* social icon hover color */
        }
      }
    }
  }
}
