.lnd-sub-title {
    width: 509px;
    text-align: left;
    &:after {
        content: "";
        height: 2px;
        width: 130px;
        background-color: #ff2d2d;
        display: block;
    }
}