$font-family-base: 'Open Sans', sans-serif;
$btn-primary-bg: #ff3f40;
$btn-default-color: #ff3f40;
$btn-default-border: #ff3f40;
$btn-font-weight: 700;
$grid-gutter-width: 18px;
$container-large-desktop: (1249px + $grid-gutter-width);


// main color #ff3f40
// secondary color #f6f2f1
// third color #312f30
